<h2>Book edit</h2>

  <ul><% if @book.errors.any? %>
 <h3><%= @book.errors.count %>件のerrorです</h3>
 <%= @book.errors.full_messages.each do |message| %>
 <li><%= message %></li>
 <% end %>
 <% end %></ul>
 
<%= form_with model:@book, local: true do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>
  
  <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
  </div>
  
  <div>
      <%= f.submit "update" %>
  </div>
 <% end %>